---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Artwork">
  <div
    class="w-full h-full backdrop-blur-[64px] flex items-center justify-center"
  >
    <div class="w-3/4 h-1/2">
      <img
        src="/background.png"
        class="h-full rounded-2xl drop-shadow-2xl"
        draggable={false}
      />
    </div>
  </div>
</Layout>
