---
import Discord from "../components/Discord.astro";
import Logo from "../components/Logo.astro";
import Menu from "../components/Menu.astro";
import Twitter from "../components/Twitter.astro";
import fetchCache from "../utils/fetchCache";
import dotenv from "dotenv";
dotenv.config();

type Props = {
  title: string;
};

const { title } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;

export const { artwork, options, artists } = fetchCache();

const banner = {
  message: "Become a member →",
  url: "/join",
};
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href={!options.useDefaultBackground && artwork.length > 0
        ? artwork[0].image
        : "/background.png"}
      as="image"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Belanosima.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Nunito.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Alata.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <title>{title}</title>
  </head>
  <body class="relative overflow-hidden h-full flex flex-col items-center">
    <div class="absolute top-0 w-full h-full">
      <div
        id="background"
        class={`w-full h-full ${
          !options.useDefaultBackground && artwork.length > 0
            ? artwork[0].image
            : "bg-[url(/background.png)] bg-cover bg-center transition-all"
        }`}
      >
      </div>
      <div class="bg-black/30 w-full h-full absolute top-0"></div>
    </div>
    {
      options.showBanner ? (
        <a
          target="_blank"
          rel="noopener noreferrer"
          href={banner.url}
          class="z-20 relative p-2 flex w-full justify-center bg-black text-white hover:bg-black/95 transition-colors"
        >
          {banner.message}
        </a>
      ) : (
        ""
      )
    }
    <div class="relative max-w-[1920px] w-full h-full">
      <header
        class="z-40 absolute top-0 w-full flex justify-between items-center p-8"
      >
        <nav class="flex items-center gap-12">
          <a href="/">
            <Logo class="w-10 h-10" color="white" />
          </a>
          <div class="flex gap-4 text-white font-alata max-[550px]:hidden">
            <a
              href="/artwork"
              style={{
                "text-decoration": pathname === "/artwork" ? "underline" : "",
              }}>Artwork</a
            >
            <a href="/proposals" target="_blank" rel="noopener noreferrer">
              Proposals
            </a>
            <a href="/about" target="_blank" rel="noopener noreferrer">
              About</a
            >
          </div>
        </nav>
        <div class="flex items-center gap-4">
          <a href="/twitter" target="_blank" rel="noopener noreferrer">
            <Twitter color="white" />
          </a>
          <a href="/discord" target="_blank" rel="noopener noreferrer">
            <Discord color="white" />
          </a>
          <Menu />
        </div>
      </header>
      <slot />
    </div>
  </body>
</html>

<style>
  @font-face {
    font-family: Belanosima;
    font-weight: 400;
    src: url(/fonts/Belanosima.ttf) format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: Nunito;
    font-weight: 400;
    src: url(/fonts/Nunito.ttf) format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: Alata;
    font-weight: 400;
    src: url(/fonts/Alata.ttf) format("truetype");
    font-display: swap;
  }
</style>
