---
import Discord from "../components/Discord.astro";
import Logo from "../components/Logo.astro";
import Menu from "../components/Menu.astro";
import Twitter from "../components/Twitter.astro";
import fetchCache from "../utils/fetchCache";
import dotenv from "dotenv";
dotenv.config();

type Props = {
  title?: string;
};

const { title } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;

export const { artwork, options, artists } = fetchCache();

export const banner = {
  message: "Become a member →",
  url: "/join",
};
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Art Haus is a collective arts patronage. Daily auction proceeds commission nounish art. Proposals are submitted to deploy these CC0 works as NFT drops, aka droposals. Minting proceeds are split between artist and treasury. DAO artwork begins as a blank canvas. Traits come later from layers of commissioned works. Curation is key."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href={!options.useDefaultBackground && artwork.length > 0
        ? artwork[0].image
        : "/background.png"}
      as="image"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Belanosima.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Nunito.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Alata.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <title>Art Haus{title ? " - " : ""}{title}</title>
  </head>
  <body class="relative overflow-hidden h-full flex flex-col items-center">
    <div class="absolute top-0 w-full h-full">
      <div
        id="background"
        class={`w-full h-full ${
          !options.useDefaultBackground && artwork.length > 0
            ? artwork[0].image
            : "bg-[url(/background.png)] bg-cover bg-center transition-all"
        }`}
      >
      </div>
      <div class="bg-black/30 w-full h-full absolute top-0"></div>
    </div>
    <header class="absolute top-0 w-full items-center flex flex-col">
      {
        options.showBanner ? (
          <a
            target="_blank"
            rel="noopener noreferrer"
            href={banner.url}
            class="z-[100] relative p-2 flex w-full justify-center bg-black text-white"
          >
            {banner.message}
          </a>
        ) : (
          ""
        )
      }
      <div
        class="z-40 relative justify-between items-center w-full p-8 flex max-w-[1920px]"
      >
        <nav class="flex items-center gap-12">
          <a href="/">
            <Logo class="w-10 h-10" color="white" />
          </a>
          <div class="flex gap-4 text-white font-alata max-[550px]:hidden">
            <a
              href="/artwork"
              style={{
                "text-decoration": pathname === "/artwork" ? "underline" : "",
              }}
              class="hover:underline">Artwork</a
            >
            <a href="/proposals" target="_blank" rel="noopener noreferrer">
              DAO
            </a>
            <a href="/about" target="_blank" rel="noopener noreferrer">
              About</a
            >
          </div>
        </nav>
        <div class="flex items-center gap-4">
          <a href="/twitter" target="_blank" rel="noopener noreferrer">
            <Twitter color="white" />
          </a>
          <a href="/discord" target="_blank" rel="noopener noreferrer">
            <Discord color="white" />
          </a>
          <Menu />
        </div>
      </div>
    </header>
    <div class="relative max-w-[1920px] w-full h-full">
      <slot />
    </div>
  </body>
</html>

<style>
  @font-face {
    font-family: Belanosima;
    font-weight: 400;
    src: url(/fonts/Belanosima.ttf) format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: Nunito;
    font-weight: 400;
    src: url(/fonts/Nunito.ttf) format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: Alata;
    font-weight: 400;
    src: url(/fonts/Alata.ttf) format("truetype");
    font-display: swap;
  }
</style>
